.progress-bar {
	&-container {
		position: relative;
		background-color: rgb(251, 187, 187);
		width: 4px;
		margin-right: 4px;
	}
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	// bottom: 100%;
	width: 4px;
	background: red;
	transform-origin: top;
}
